# Raiffeisen - Merge External Data

In [20]:
import pandas as pd

pd.options.display.max_columns = 400

## Read external data

Most of the external data were collected from The Statistical Office of the Republic of Serbia and Open data portal of Republic of Serbia.

- http://www.stat.gov.rs/en-US
- https://data.gov.rs/sr/

### Read cleaned data first

In [21]:
df = pd.read_csv('RFB - Clean Data.csv', index_col=0)
df.shape

(1083919, 306)

In [22]:
df.head()

,PD_MIX_ACTIVE_m1,BLACK_LIST_FLG_m1,BLACK_LIST_LEVEL_m1,LEASING_FLG_m1,RISK_BLOCKED_FLG_m1,CUSTOMER_RK,CC_DB_TXN_CNT_m1,CC_DB_TXN_AMT_m1,CC_CR_TXN_CNT_m1,CC_CR_TXN_AMT_m1,CC_EOM_BAL_AMT_m1,CC_AVG_BAL_AMT_m1,CC_ACC_USED_CNT_m1,CL_DB_TXN_CNT_m1,CL_DB_TXN_AMT_m1,CL_CR_TXN_CNT_m1,CL_CR_TXN_AMT_m1,CL_EOM_BAL_AMT_m1,CL_AVG_BAL_AMT_m1,CL_ACC_USED_CNT_m1,LEN_DB_TXN_CNT_m1,LEN_DB_TXN_AMT_m1,LEN_CR_TXN_CNT_m1,LEN_CR_TXN_AMT_m1,LEN_EOM_BAL_AMT_m1,LEN_AVG_BAL_AMT_m1,LEN_ACC_USED_CNT_m1,LM_DB_TXN_CNT_m1,LM_DB_TXN_AMT_m1,LM_CR_TXN_CNT_m1,LM_CR_TXN_AMT_m1,LM_EOM_BAL_AMT_m1,LM_AVG_BAL_AMT_m1,LM_ACC_USED_CNT_m1,SA_DB_TXN_CNT_m1,SA_DB_TXN_AMT_m1,SA_CR_TXN_CNT_m1,SA_CR_TXN_AMT_m1,SA_EOM_BAL_AMT_m1,SA_AVG_BAL_AMT_m1,SA_ACC_USED_CNT_m1,SLA_DB_TXN_CNT_m1,SLA_DB_TXN_AMT_m1,SLA_CR_TXN_CNT_m1,SLA_CR_TXN_AMT_m1,SLA_EOM_BAL_AMT_m1,SLA_AVG_BAL_AMT_m1,SLA_ACC_USED_CNT_m1,TD_DB_TXN_CNT_m1,TD_DB_TXN_AMT_m1,TD_CR_TXN_CNT_m1,TD_CR_TXN_AMT_m1,TD_EOM_BAL_AMT_m1,TD_AVG_BAL_AMT_m1,TD_ACC_USED_CNT_m1,SSP_FLG_m1,PAST_DUE_AMT_m1,OD_LIMIT_m1,DAYS_PAST_DUE_m1,INCOME_AMT_m1,SLA_INCOME_AMT_m1,DEBIT_CARD_CNT_m1,NOSTRO_TXN_AMT_m1,LORO_TXN_AMT_m1,CHEQUE_TXN_CNT_m1,CHEQUE_TXN_AMT_m1,MRCH_AIR_TXN_CNT_m1,MRCH_AIR_TXN_AMT_m1,MRCH_CASH_TXN_CNT_m1,MRCH_CASH_TXN_AMT_m1,MRCH_CHILD_TXN_CNT_m1,MRCH_CHILD_TXN_AMT_m1,MRCH_CLTH_TXN_CNT_m1,MRCH_CLTH_TXN_AMT_m1,MRCH_DEPST_TXN_CNT_m1,MRCH_DEPST_TXN_AMT_m1,MRCH_DIY_TXN_CNT_m1,MRCH_DIY_TXN_AMT_m1,MRCH_DRCTM_TXN_CNT_m1,MRCH_DRCTM_TXN_AMT_m1,MRCH_ENT_TXN_CNT_m1,MRCH_ENT_TXN_AMT_m1,MRCH_FOOD_TXN_CNT_m1,MRCH_FOOD_TXN_AMT_m1,MRCH_HTL_TXN_CNT_m1,MRCH_HTL_TXN_AMT_m1,MRCH_LGS_TXN_CNT_m1,MRCH_LGS_TXN_AMT_m1,MRCH_MED_TXN_CNT_m1,MRCH_MED_TXN_AMT_m1,MRCH_MOT_TXN_CNT_m1,MRCH_MOT_TXN_AMT_m1,MRCH_MSCS_TXN_CNT_m1,MRCH_MSCS_TXN_AMT_m1,MRCH_PET_TXN_CNT_m1,MRCH_PET_TXN_AMT_m1,MRCH_RNTC_TXN_CNT_m1,MRCH_RNTC_TXN_AMT_m1,MRCH_SRV_TXN_CNT_m1,MRCH_SRV_TXN_AMT_m1,MRCH_TRV_TXN_CNT_m1,MRCH_TRV_TXN_AMT_m1,RUBR_CD_TXN_CNT_m1,RUBR_CD_TXN_AMT_m1,RUBR_CI_TXN_CNT_m1,RUBR_CI_TXN_AMT_m1,RUBR_CU_TXN_CNT_m1,RUBR_CU_TXN_AMT_m1,RUBR_PD_TXN_CNT_m1,RUBR_PD_TXN_AMT_m1,RUBR_PI_TXN_CNT_m1,RUBR_PI_TXN_AMT_m1,RUBR_PU_TXN_CNT_m1,RUBR_PU_TXN_AMT_m1,CH_CALLC_TXN_CNT_m1,CH_CALLC_TXN_AMT_m1,CH_ATM_TXN_CNT_m1,CH_ATM_TXN_AMT_m1,CH_INT_TXN_CNT_m1,CH_INT_TXN_AMT_m1,CH_SMS_TXN_CNT_m1,CH_SMS_TXN_AMT_m1,CH_BRN_TXN_CNT_m1,CH_BRN_TXN_AMT_m1,CH_DIRM_TXN_CNT_m1,CH_DIRM_TXN_AMT_m1,CH_POS_TXN_CNT_m1,CH_POS_TXN_AMT_m1,CC_TOT_TXN_CNT_m1,CC_TOT_TXN_AMT_m1,CL_TOT_TXN_CNT_m1,CL_TOT_TXN_AMT_m1,LEN_TOT_TXN_CNT_m1,LEN_TOT_TXN_AMT_m1,LM_TOT_TXN_CNT_m1,LM_TOT_TXN_AMT_m1,SA_TOT_TXN_CNT_m1,SA_TOT_TXN_AMT_m1,SLA_TOT_TXN_CNT_m1,SLA_TOT_TXN_AMT_m1,TD_TOT_TXN_CNT_m1,TD_TOT_TXN_AMT_m1,TOT_DB_TXN_CNT_m1,TOT_DB_TXN_AMT_m1,TOT_CR_TXN_CNT_m1,TOT_CR_TXN_AMT_m1,FIRST_OPEN_PRODUCT,FIRST_CLOSED_PRODUCT_6MTH,LAST_OPEN_PRODUCT,LAST_CLOSED_PRODUCT,ACCT_OPENED_CNT,ACCT_CLOSED_CNT,EARLY_REPAYMENT_LTD_FLG,ACCT_DEP_LTD_CNT,ACCT_CRE_LTD_CNT,CCREV_FLG_EVER,CCREV_FLG,CCWEB_FLG_EVER,CCWEB_FLG,DC_FLG_EVER,DC_FLG,OD_FLG_EVER,OD_FLG,ROL_FLG_EVER,SLA_FLG_EVER,SLA_FLG,CC_ACCT_OPENED_CNT,CC_ACCT_CLOSED_CNT,CC_MAX_TENURE_MTH,CC_MIN_TENURE_MTH,CC_MTH_SINCE_LAST_OPEN,CC_FLG_EVER,CC_FLG_m1,CC_ACCT_CNT_m1,CC_ACCT_OPEN_CNT_m1,CC_ACCT_CLOSE_CNT_m1,CL_ACCT_OPENED_CNT,CL_ACCT_CLOSED_CNT,CL_MATURITY_MTH,CL_MAX_TENURE_MTH,CL_MIN_TENURE_MTH,CL_MTH_SINCE_LAST_OPEN,CL_FLG_EVER,CL_FLG_m1,CL_ACCT_CNT_m1,CL_ACCT_OPEN_CNT_m1,CL_ACCT_CLOSE_CNT_m1,LEN_ACCT_OPENED_CNT,LEN_ACCT_CLOSED_CNT,LEN_MATURITY_MTH,LEN_MAX_TENURE_MTH,LEN_MIN_TENURE_MTH,LEN_MTH_SINCE_LAST_OPEN,LEN_FLG_EVER,LEN_FLG_m1,LEN_ACCT_CNT_m1,LEN_ACCT_OPEN_CNT_m1,LEN_ACCT_CLOSE_CNT_m1,LM_ACCT_OPENED_CNT,LM_ACCT_CLOSED_CNT,LM_MATURITY_MTH,LM_MAX_TENURE_MTH,LM_MIN_TENURE_MTH,LM_MTH_SINCE_LAST_OPEN,LM_FLG_EVER,LM_FLG_m1,LM_ACCT_CNT_m1,LM_ACCT_OPEN_CNT_m1,LM_ACCT_CLOSE_CNT_m1,SA_ACCT_OPENED_CNT,SA_ACCT_CLOSED_CNT,SA_MAX_TENURE_MTH,SA_MIN_TENURE_MTH,SA_MTH_SINCE_LAST_OPEN,SA_FLG_EVER,SA_FLG_m1,SA_ACCT_CNT_m1,SA_ACCT_OPEN_CNT_m1,SA_ACCT_CLOSE_CNT_m1,SLA_ACCT_OPENED_CNT,SLA_ACCT_CLOSED_CNT,SLA_MAX_TENURE_MTH,SLA_MIN_TENURE_MTH,SLA_MTH_SINCE_LAST_OPEN,SLA_FLG_m1,SLA_ACCT_CNT_m1,SLA_ACCT_OPEN_CNT_m1,SLA_ACCT_CLOSE_CNT_m1,TD_ACCT_OPENED_CNT,TD_ACCT_CLOSED_CNT,TD_MATURITY_MTH,TD_MAX_TENURE_MTH,TD_MIN_TENURE_MTH,TD_MTH_SINCE_LAST_OPEN,TD_FLG_EVER,TD_FLG_m1,TD_ACCT_CNT_m1,TD_ACCT_OPEN_CNT_m1,TD_ACCT_CLOSE_CNT_m1,PCK_ACCT_OPENED_CNT,PCK_ACCT_CLOSED_CNT,PCK_MAX_TENURE_MTH,PCK_MIN_TENURE_MTH,PCK_MTH_SINCE_LAST_OPEN,PCK_FLG_EVER,PCK_FLG_m1,PCK_ACCT_CNT_m1,PCK_ACCT_OPEN_CNT_m1,PCK_ACCT_CLOSE_CNT_m1,ACCT_CNT_m1,PD_MIX_EVER,OD_MATURITY,PROD_CNT_m1,DAYS_SINCE_LAST_ACCOUNT_OPEN,DAYS_SINCE_LAST_ACCOUNT_CLOSED,DAYS_SINCE_FIRST_ACCOUNT_OPEN,MATURITY_MTH,TENURE_MTH,MTH_SINCE_LAST_OPEN,CITY,MOBILE_FLG,EMAIL_FLG,IS_SEGMENT_CD,BRANCH_CD,REGION_CD,GEO_REGION_CD,AGE_AT_ANALYSIS_MTH_CNT,GENDER_CD,DC_MIX,CC_MIX,ROL_flg_m1,MOB_ACTIVE,BizSeg,CC_LIMIT_m1,month,month_od,month_do,mBanking_logs_m1,eBanking_logs_m1,MARITAL_STATUS,Education_level,RESIDENCE_STATUS,EMPLOYMENT_TYPE,LM_MATURITY_MTH_MISSING,LM_MTH_SINCE_LAST_OPEN_MISSING,TD_MATURITY_MTH_MISSING,TD_MTH_SINCE_LAST_OPEN_MISSING,OD_MATURITY_MISSING,LEN_MTH_SINCE_LAST_OPEN_MISSING,LEN_MATURITY_MTH_MISSING,CL_MTH_SINCE_LAST_OPEN_MISSING,CL_MATURITY_MTH_MISSING,DAYS_SINCE_LAST_ACCOUNT_CLOSED_MISSING,MATURITY_MTH_MISSING,BLACK_LIST_LEVEL_m1_MISSING,PCK_MTH_SINCE_LAST_OPEN_MISSING,SA_MTH_SINCE_LAST_OPEN_MISSING,CC_MIX_MISSING,DC_MIX_MISSING,CC_MTH_SINCE_LAST_OPEN_MISSING,SLA_MTH_SINCE_LAST_OPEN_MISSING,MARITAL_STATUS_MISSING,REGION_CD_MISSING,MOB_ACTIVE_MISSING,GENDER_CD_MISSING,AGE_AT_ANALYSIS_MTH_CNT_MISSING
0,LEN,0,-1.0,0,0,427759,0,0.0,0,0.0,0.0,0.0,0,0,0.0,0,0.0,0.0,0.0,0,1,12266.06,2,24532.12,-196248.36,196248.3603,1,0,0.0,0,0.0,0.0,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0,12281.125686,0.0,6,0.0,0.0,0,0.0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0,0,0.0,0,0.0,0,0.0,3,36798.18,0,0,0,0.0,0,0.0,0,0.0,3,36798.18,0,0.0,0,0.0,0,0.0,0,0.0,1,12266.06,2,24532.12,LEN,XXX,LEN,XXX,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1.0,0,0,0,0,0,0,0,-1.0,0,0,-1.0,0,0,0,0,0,1,0,16.0,4,4,4.0,1,1,1,0,0,0,0,-1.0,0,0,-1.0,0,0,0,0,0,0,0,0,0,-1.0,0,0,0,0,0,0,0,0,0,-1.0,0,0,0,0,0,0,-1.0,0,0,-1.0,0,0,0,0,0,0,0,0,0,-1.0,0,0,0,0,0,1,LEN,-1.0,1,116,-1.0,116,16.0,4,4,beograd-novi beograd,0,0,INDV,161,Grad,BEOGRAD 1,62.0,F,Unknown,Unknown,0,4.0,Webovci,0,201506,201503,201609,0,0,Married,2. Elementary School,Ownership,Unemployed,1,1,1,1,1,0,0,1,1,1,0,1,1,1,1,1,1,1,0,0,0,0,0

### Read and merge Consumer price indices

Consumer price indices measure change of products and services prices that households purchase for satisfying own needs. They are used as inflation measure.

In [23]:
indeksi = pd.read_csv('RFB - Potrosacke Cene Indeksi.csv')
indeksi.shape

(153, 3)

In [24]:
indeksi.head()

   Godinamesec  cpi_consumer  cpi_excluding
0       200701           5.5            0.1

### Read and merge Cache Loan labels

We engineered 3 new labels and whether the customer took out a loan in the first 3 months, the first 6 months or did not take out a loan in the first 6 months at all.

In [25]:
zajam = pd.read_csv('RFB - Prvi Zajam.csv')
zajam.shape

(79966, 2)

In [26]:
zajam.head()

   CUSTOMER_RK       cash_loan
0       427759  nije u prvih 6

### Read structure data

In [27]:
imovina = pd.read_csv('RFB - Strukturna Imovina.csv')
imovina.grad = imovina.grad.str.lower()
imovina.shape

(164, 6)

In [28]:
imovina.head()

  grad       F      P      R broj_prijava broj_obveznika
0  ada  20.788  618.0  773.0       17,862         10,456

## Merge loaded data

In [33]:
df = df.merge(indeksi, left_on='month', right_on='Godinamesec')
df[['CUSTOMER_RK', 'CITY', 'month', 'Godinamesec', 'cpi_consumer', 'cpi_excluding']].head()

,CUSTOMER_RK,CITY,month,Godinamesec,cpi_consumer,cpi_excluding
0,427759,beograd-novi beograd,201506,201506,1.9,0.6
1,429594,beograd-zvezdara,201506,201506,1.9,0.6
2,436982,grocka,201506,201506,1.9,0.6
3,449995,beograd-voždovac,201506,201506,1.9,0.6
4,459189,pančevo,201506,201506,1.9,0.6

In [34]:
df = df.merge(zajam, left_on='CUSTOMER_RK', right_on='CUSTOMER_RK')
df[['CUSTOMER_RK', 'CITY', 'month', 'Godinamesec', 'cpi_consumer', 'cpi_excluding', 'cash_loan']].head()

,CUSTOMER_RK,CITY,month,Godinamesec,cpi_consumer,cpi_excluding,cash_loan
0,427759,beograd-novi beograd,201506,201506,1.9,0.6,nije u prvih 6
1,427759,beograd-novi beograd,201607,201607,1.2,0.5,nije u prvih 6
2,427759,beograd-novi beograd,201505,201505,1.5,0.1,nije u prvih 6
3,427759,beograd-novi beograd,201511,201511,1.3,0.3,nije u prvih 6
4,427759,beograd-novi beograd,201608,201608,1.2,0.5,nije u prvih 6

In [35]:
df = df.merge(imovina, left_on='CITY', right_on='grad')
df[['Godinamesec', 'cpi_consumer', 'cpi_excluding', 'cash_loan', 'CITY', 'grad', 'F', 'P', 'R', 'broj_prijava', 'broj_obveznika']].head()

,Godinamesec,cpi_consumer,cpi_excluding,cash_loan,CITY,grad,F,P,R,broj_prijava,broj_obveznika
0,201506,1.9,0.6,nije u prvih 6,beograd-novi beograd,beograd-novi beograd,163.517,18.304,6.614,"122,769","100,725"
1,201607,1.2,0.5,nije u prvih 6,beograd-novi beograd,beograd-novi beograd,163.517,18.304,6.614,"122,769","100,725"
2,201505,1.5,0.1,nije u prvih 6,beograd-novi beograd,beograd-novi beograd,163.517,18.304,6.614,"122,769","100,725"
3,201511,1.3,0.3,nije u prvih 6,beograd-novi beograd,beograd-novi beograd,163.517,18.304,6.614,"122,769","100,725"
4,201608,1.2,0.5,nije u prvih 6,beograd-novi beograd,beograd-novi beograd,163.517,18.304,6.614,"122,769","100,725"

## Save data for later usage

In [36]:
df.to_csv('RFB - Merged Data.csv')

In [37]:
df.shape

(555844, 316)

In [39]:
len(df.CITY.unique())

141

In [40]:
# Create table for missing data analysis
def draw_missing_data_table(df):
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data

In [41]:
draw_missing_data_table(df)

                        Total  Percent
broj_obveznika              0      0.0
RUBR_CU_TXN_AMT_m1          0      0.0
MRCH_TRV_TXN_CNT_m1         0      0.0
MRCH_TRV_TXN_AMT_m1         0      0.0
RUBR_CD_TXN_CNT_m1          0      0.0
...                       ...      ...
SA_MAX_TENURE_MTH           0      0.0
SA_MIN_TENURE_MTH           0      0.0
SA_MTH_SINCE_LAST_OPEN      0      0.0
SA_FLG_EVER                 0      0.0
PD_MIX_ACTIVE_m1            0      0.0

[316 rows x 2 columns]