In [1]:
import pandas as pd

In [2]:
struktura = pd.read_csv('struktura_obveznika.csv', index_col=0)

In [3]:
struktura.head()

                    F      P        R
Grad
Ada            20.788  618.0  773.000
Aleksandrovac  17.699  566.0    4.441
Aleksinac      49.314  855.0    1.999
Alibunar       23.223  470.0  877.000
Apatin         31.852  625.0  537.000

In [4]:
imovina = pd.read_csv('imovina_fizickih_lica.csv', index_col=0)

In [5]:
imovina.head()

              broj_prijava broj_obveznika
opstina
Ada                 17,862         10,456
Aleksandrovac       10,499          8,835
Aleksinac           68,755         32,256
Alibunar            23,420         12,681
Apatin              28,387         15,519

In [9]:
struktura_imovina = pd.concat([struktura, imovina], axis=1, join='inner') \
.reset_index() \
.rename(columns={'index':'grad'}) \
.set_index('grad')

In [10]:
struktura_imovina.head()

                    F      P        R broj_prijava broj_obveznika
grad
Ada            20.788  618.0  773.000       17,862         10,456
Aleksandrovac  17.699  566.0    4.441       10,499          8,835
Aleksinac      49.314  855.0    1.999       68,755         32,256
Alibunar       23.223  470.0  877.000       23,420         12,681
Apatin         31.852  625.0  537.000       28,387         15,519

In [11]:
struktura_imovina.to_csv('full_struktura_imovina.csv')