In [1]:
import pandas as pd

In [2]:
df = pd.read_json('struktura_obveznika.json') \
.set_index('Grad') \
.drop('Ukupno', axis=1)

In [3]:
df.head()

                    F      P        R
Grad
Ada            20.788  618.0  773.000
Aleksandrovac  17.699  566.0    4.441
Aleksinac      49.314  855.0    1.999
Alibunar       23.223  470.0  877.000
Apatin         31.852  625.0  537.000

In [4]:
df.to_csv('struktura_obveznika.csv')